{% extends "AdenaMailBundle::layout.html.twig" %}

{% block adenamail_body %}
    {%  include('AdenaMailBundle:Common/Button:back_link_button.html.twig') with {'label': 'Back to list', 'path': path('adena_mail_sender_list')} %}

    <h2>Delete a Sender</h2>

    <p>
        Are you sure you want to delete the sender "{{ sender.email }}" ?
    </p>

    {# Keep the ID in the action #}
    <form action="{{ path('adena_mail_sender_delete', {'id': sender.id}) }}" method="post" class="nojsvalidate">
        {%  include('AdenaMailBundle:Form/Button:delete_button.html.twig') %}
        {# Generates our form (only CSFR) #}
        {{ form_rest(form) }}
    </form>
{% endblock %}
