{{ form_start(form, {attr: {class: 'nojsvalidate',novalidate: 'novalidate', action: path("adena_mail_campaign_test", { id : campaign.id })}}) }}
{{ form_widget(form) }}

<div class="row">
    <div class="col-sm-12 text-center">
        <button type="submit" value="save" class="btn btn-primary">
            <i class="glyphicon glyphicon-scale"></i>
            {{ 'Send test email !'|trans }}
        </button>
    </div>
</div>
{{ form_end(form) }}