{% extends "AdenaMailBundle::layout.html.twig" %}

{% block adenamail_body %}
    {%  include('AdenaMailBundle:Common/Button:back_link_button.html.twig') with {'label': 'Back to list', 'path': path('adena_mail_mailing_list_list')} %}

    <div class="row">
        <div class="col-xs-12">
            <h3>Choose a method to create your new Mailing list</h3>
            <p>You can choose between a MySQL Request or a list of email addresses to create your list.</p>
        </div>
    </div>
    <br><br>
    <div class="row">

        <div class="col-xs-4 ">
            <a href="{{ path('adena_mail_mailing_list_add', {'type': 'query'}) }}">
                <button class="btn btn-primary">
                    <h3>MySQL</h3>
                    <p>Choose a Datasource and tailor your <br>custom request to generate your email list</p>
                </button>
            </a>
        </div>

        <div class="col-xs-4 col-xs-offset-1">
            <a href="{{ path('adena_mail_mailing_list_add', {'type': 'list'}) }}">
                <button class="btn btn-default">
                    <h3>Email List</h3>
                    <p>Copy and paste a list of email addresses <br>
                        separated by a coma (,)
                    </p>
                </button>
            </a>
        </div>

    </div>


{% endblock %}